mixin title1(slug)
  if slug
    h1.title( id=slug )
      a.title_link( href='#' + slug title="Direct link to section" )
        block
  else
    h1.title
      block

mixin title2(slug)
  if slug
    h2.title( id=slug )
      a.title_link( href='#' + slug title="Direct link to section" )
        block
  else
    h2.title
      block

mixin title3(slug)
  if slug
    h3.title( id=slug )
      a.title_link( href='#' + slug title="Direct link to section" )
        block
  else
    h3.title
      block
