h1.title
  margin-bottom: 24px
  font-size: 48px
  color: var(--base-title)

  @mixin mobile
    margin-bottom: 21px
    font-size: 24px

h2.title
  margin: 39px 0 21px 0
  font-size: 24px

  @mixin mobile
    margin: 18px 0 12px 0
    font-size: 18px

  code
    font-size: 21px

    @mixin mobile
      font-size: 15px

h3.title
  margin-bottom: 21px
  font-size: inherit

  @mixin mobile
    margin-bottom: 18px
