.line
  height: 12px
  border: none

  @mixin light
    background: url(./chain-light.svg)

  @mixin dark
    background: url(./chain-dark.svg)

  @mixin no-mobile
    margin: 78px auto 0
    background-position-x: 4px

  @mixin mobile
    margin: 39px auto 0
