.chat
  position: fixed
  right: 12px
  bottom: 12px
  z-index: 10

  @mixin mobile
    display: none

.chat_icon
  @mixin no-mobile
    position: relative
    top: 1px
    display: inline-block
    width: 15px
    height: 15px
    margin-right: 5px
    background-image: url(./chat.svg)
    background-size: 100%

.gitter-chat-embed-action-bar-item:active
  filter: none
