mixin header_link(text, url)
  - attrs = { }
  if url.startsWith('https://')
    - attrs.rel = 'me'
    - attrs.href = url
  else if url.replace(/\//g, '') !== category
    - attrs.href = url
  a.header_link&attributes(attrs)
    = text
    if attrs.href
      .header_hover( aria-hidden="true" )= text

header.header
  a.header_logo( href="/" rel="home" ) Logux
  .header_links
    +header_link('Guide',   '/guide/')
    +header_link('API',     '/api/')
    +header_link('GitHub',  'https://github.com/logux')
    +header_link('Twitter', 'https://twitter.com/logux_io')
