.header
  --header-shadow: rgba(0, 0, 0, 0.15)

  height: 63px
  box-shadow: 0 2px 8px 0 var(--header-shadow)

  @media (prefers-color-scheme: dark)
    --header-shadow: rgba(0, 0, 0, 0.15)

.header_logo
  display: inline-block
  height: 63px
  padding: 0 39px
  font-family: Kurbanistika, sans-serif
  font-size: 39px
  line-height: 63px
  color: var(--text)
  text-decoration: none
  text-transform: lowercase
