html
  --text-margin: 21px

  @mixin mobile
    --text-margin: 18px

.text
  @mixin no-mobile
    max-width: 900px
    padding: 36px 10px calc(36px - 21px) 10px
    margin: 0 auto

  @mixin mobile
    padding: 24px 15px calc(24px - 18px) 15px

.text_block
  margin-bottom: var(--text-margin)
