html
  --text-after: 21px
  --list-side: 30px

  @mixin mobile
    --text-after: 18px
    --list-side: 15px

.text
  box-sizing: border-box
  width: 100%
  padding: var(--list-side)

  @mixin no-mobile
    max-width: 900px
    padding-top: 36px
    padding-bottom: calc(36px - 21px)
    margin: 0 auto

  @mixin mobile
    padding-top: 24px
    padding-bottom: calc(24px - 18px)

.text_block
  margin-bottom: var(--text-after)
