.edit
  @mixin no-mobile
    display: flex
    align-items: baseline
    justify-content: space-between

.edit_link
  @mixin no-mobile
    position: relative
    top: 7px
    display: block
    float: right
    padding: 10px
    margin-right: -10px
    border-radius: 4px

.edit_link::before
  @mixin no-mobile
    display: block
    width: 24px
    height: 24px
    content: ""
    background-image: url(./edit.svg)
    background-size: 100%

  @mixin dark
    filter: invert()
