@font-face
  font-family: "Work Sans"
  src: url(./work-sans-regular.woff2) format("woff2")
  font-display: swap

@font-face
  font-family: "Work Sans"
  font-weight: bold
  src: url(./work-sans-bold.woff2) format("woff2")
  font-display: swap
