@font-face
  font-family: 'Work Sans'
  font-display: swap
  src: url(./work-sans-regular.woff2) format('woff2')

@font-face
  font-family: 'Work Sans'
  font-weight: bold
  font-display: swap
  src: url(./work-sans-bold.woff2) format('woff2')
