a:not([class])
  --link-background: var(--base-background)

  color: var(--base-title)
  border-radius: 0.5px

  @mixin thin-link

  &:hover
    --link-background: #fef2de

    box-shadow: 0 0 0 4px var(--link-background)

    @mixin dark
      --link-background: #3f331f

a[class]
  color: inherit
  text-decoration: none
