.asset
  display: flex
  margin: 0 -6px var(--text-after) -6px

  a
    display: block
    padding: 6px
    line-height: 0
    border-radius: 4px

  img
    padding: 12px
    background: #fff
    border-radius: 4px

    &.is-dark
      background: #000
