.table
  --text-table-border: 1px solid var(--base-border)

  width: 100%
  margin-bottom: var(--text-margin)
  border-collapse: collapse
  border-top: var(--text-table-border)

  th,
  td
    padding: 12px 0
    border-bottom: var(--text-table-border)

    @mixin mobile
      padding: 6px 0

  th
    text-align: left

  th + th,
  td + td
    padding-left: 51px

    @mixin mobile
      padding-left: 12px
