.code-block
  padding: 15px 18px
  margin-bottom: var(--text-margin)
  overflow: auto
  font-size: 16px
  border-radius: 4px
  box-shadow: var(--base-above)

  @mixin mobile
    margin-bottom: 18px
    font-size: 14px

  @mixin dark
    background-color: rgba(#fff, 0.1)
