a.button,
button.button
  display: inline-block
  height: 36px
  padding: 0 15px
  font-size: 16px
  font-weight: bold
  line-height: 36px
  color: #000
  background: var(--base-gradient)
  border-radius: 4px
  box-shadow: var(--base-above)

  &:hover,
  &:focus
    background: var(--base-light-accent)

  &:focus
    box-shadow: var(--base-above-focus)

  &:active
    box-shadow: none
