a.source
  position: relative
  top: -8px
  display: block
  float: right
  padding: 10px
  margin-right: -10px
  border-radius: 4px

  @mixin mobile
    top: -7px

.source::before
  display: block
  width: 24px
  height: 24px
  content: ""
  background-image: url(./github.svg)
  background-size: 100%

  @mixin dark
    filter: invert()
