include edit/edit.pug
include title/title.pug

article.text
  +edit('https://github.com/logux/logux.io/blob/main/src/branding.pug')
    +title1
      |  Branding Guidelines

  p.text_block Logux visual identity is based on #[a( href="https://twitter.com/andreysitnik/status/1258058327029841928" ) #[strong Linguopunk] philosophy]: language and writing system diversity, combining digital culture with old writing systems. You can find inspiration in #[a( href="https://twitter.com/linguopunk" ) Twitter account].

  p.text_block
    | Few examples: #[a( href="https://twitter.com/linguopunk/status/925633915401973761" ) English in Korean style], #[a( href="https://twitter.com/linguopunk/status/834375284187095040" ) Modern Gothic Calligraphy], #[a( href="https://twitter.com/linguopunk/status/897729669289693186" ) Round-robin], #[a( href="https://twitter.com/linguopunk/status/849169543520038912" ) Kufic script], #[a( href="https://twitter.com/linguopunk/status/973831384585375744" ) English as Japanese stamps], #[a( href="https://twitter.com/linguopunk/status/1008982998140837888" ) Persian calligraphy], #[a( href="https://twitter.com/linguopunk/status/852068906680373248" ) Arabic calligraphy], #[a( href="https://twitter.com/linguopunk/status/814456903099158528" ) Andrey Martynov], #[a( href="https://twitter.com/linguopunk/status/924033568543821824" ) Georgian calligraphy], #[a( href="https://twitter.com/linguopunk/status/813716142275567616" ) Valentine Sidorov], #[a( href="https://twitter.com/linguopunk/status/1011519731826937856" ) old books].

  h2 Logo with Name
  .asset
    a.asset_file( href="./logotype-light.svg"  download="logux-logotype-light.svg" )
      img( src="./logotype-light.svg" height="234" width="150" )
    a.asset_file( href="./logotype-dark.svg"  download="logux-logotype-dark.svg" )
      img.is-dark( src="./logotype-dark.svg" height="234" width="150" )

  h2 Logo
  .asset
    a.asset_file( href="./logo-light.svg" download="logux-logo-light.svg" )
      img( src="./logo-light.svg" height="150" width="150" )
    a.asset_file( href="./logo-dark.svg"  download="logux-logo-dark.svg" )
      img.is-dark( src="./logo-dark.svg" height="150" width="150" )
  p.text_block #[a( href="https://twitter.com/antiflasher" ) Anton Lovchikov] created a logo that subtly references a #[a( href="https://www.youtube.com/watch?v=Qd8zT1YAUck" ) circular writing system] from the #[a( href="https://en.wikipedia.org/wiki/Arrival_(film)" ) Arrival] movie

  h2 Font
  p.text_block We are using the free #[a( href="https://www.behance.net/gallery/35526923/KURBANISTIKA-free-font" ) Kurbanistika] font by Misha Priemyshev.
  p.text_block This is decorative font without focusing on readability. It should be used only for big and non-critical texts.

  h2 Colors
  table.table
    tr
      th Name
      th HEX Code
      th Sample
    tr
      td
        | Black
      td
        code #1f1f1f
      td
        .color( style="background: #1f1f1f" )
    tr
      td
        | Accent
      td
        code #f5a623
      td
        .color( style="background: #f5a623" )
    tr
      td
        | Light Accent
      td
        code #fbd469
      td
        .color( style="background: #fbd469" )
