@import "./work-sans/work-sans.sss";
@import "./kurbanistika/kurbanistika.sss";
@import "./fira-code/fira-code.sss";
@import "./base/base.sss";
@import "./scroll/scroll.sss";
@import "./layout/layout.sss";
@import "./menu/menu.sss";
@import "./submenu/submenu.sss";
@import "./button/button.sss";
@import "./code/code.sss";
@import "./title/title.sss";
@import "./table/table.sss";
@import "./list/list.sss";
@import "./line/line.sss";
@import "./edit/edit.sss";
@import "./code-block/code-block.sss";
@import "./text/text.sss";
@import "./chat/chat.sss";
@import "./next/next.sss";
@import "./footer/footer.sss";
