@import './work-sans/work-sans.sss'
@import './kurbanistika/kurbanistika.sss'
@import './fira-code/fira-code.sss'
@import './base/base.sss'
@import './code/code.sss'
@import './title/title.sss'
@import './code-block/code-block.sss'
@import './header/header.sss'
@import './aside/aside.sss'
@import './text/text.sss'
@import './chat/chat.sss'
