meta( name="viewport" content="width=device-width" )
link( rel="shortcut icon" href="/base/32.png" sizes="32x32" )
link( rel="icon" href="/base/196.png" sizes="196x196" )
link( rel="icon" href="/base/512.png" sizes="512x512" )
link( rel="mask-icon" href="/base/pinned.svg" color="#ffc40d" )
link( rel="apple-touch-icon" href="/base/apple.png" )
meta( name="apple-mobile-web-app-title" content="Logux" )

script( async src="/common.js" )
link( rel="stylesheet" href="/common.sss" )
