doctype html
html( lang="en" )
  head
    meta( charset="utf-8" )
    title Logux.io UI Kik
    script( async src="/common.js" )
    link( rel="stylesheet" href="/common.sss" )
    link( rel="stylesheet" href="/docs.sss" )
  body
    include header/header.pug
    h1 Title 1
