doctype html
html( lang="en" )
  head
    meta( charset="utf-8" )
    title Logux.io UI Kik
    link( rel="stylesheet" href="/common.sss" )
    link( rel="stylesheet" href="/docs.sss" )
  body
    h1 Title 1
