html
  scroll-padding-top: 12px

  @media (width >= 1024px)
    scroll-behavior: smooth

  @media (prefers-reduced-motion: reduce)
    scroll-behavior: auto

@mixin no-mobile
  *
    scrollbar-width: thin

body.is-locked
  position: fixed
  right: 0
  left: 0
