html
  color-scheme: light dark
  font-family: "Work Sans", sans-serif
  font-size: 18px

*
  padding: 0
  margin: 0

body
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

a
  color: #f55c23

a,
button
  &::-moz-focus-inner
    border: 0

  &:hover,
  &:focus
    background-color: rgba(#f5a623, 0.15)

  &:focus
    outline: none
    box-shadow: inset 0 0 0 2px #f5a623

  &:active
    transform: scale(0.95)
