name: Test
on:
  push:
  pull_request:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: pnpm
      - name: Install all dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts
      - name: Build and test
        run: pnpm test
        env:
          CI: 1
          NO_CONTENT: 1
          FORCE_COLOR: 2
  deploy:
    name: Deploy
    needs:
      - test
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/deploy.yml
    secrets:
      GITTER_TOKEN: ${{ secrets.GITTER_TOKEN }}
      GITTER_ROOM_ID: ${{ secrets.GITTER_ROOM_ID }}
      WEBSITE_URL: ${{ secrets.WEBSITE_URL }}
      GCLOUD_AUTH: ${{ secrets.GCLOUD_AUTH }}
      GCLOUD_APP: ${{ secrets.GCLOUD_APP }}
      CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE }}
      CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
