name: Test
on:
  push:
  pull_request:
env:
  FORCE_COLOR: 2
jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 2
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14'
      - name: Install all dependencies
        uses: bahmutov/npm-install@v1
      - name: Build and test
        run: yarn test
        env:
          CI: 1
          NO_CONTENT: 1
